a {
    text-decoration: none;
    color: black;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.page_title {
    font-size: 48px;
    margin: 16px;
}

.link_container {
    width: 90%;
    height: 48px;
    margin: 0 auto;
    display: flex;
    background-color: #f8f7f4;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid gray;
    transition: all 0.25s ease;
}

.card_container {
    display: flex;
    align-items: center;
}

.link_container:hover {
    box-shadow: 2px 2px 2px 0 gray;
    cursor: pointer;
}

.poem_info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    font-size: 24px;
}

.author {
    font-size: 16px;
    color: gray;
}