.poem_container {
    position: absolute;
    top: 64px;
    left: 64px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.poem_line {
    font-size: 24px;
    color: black;
    text-align: left;
}

.poem_title {
    font-size: 32px;
    position: relative;
    left: -4px;
    font-weight: 100;
    font-style: italic;
}

.new_stanza {
    margin-top: 16px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.first_line {
    margin-top: 32px;
}

.placeholder_line {
    color: gray;
}

.poem_icons {
    position: absolute;
    top: 16px;
    right: 24px;
    width: 60px;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.poem_icon {
    opacity: 0;
    transition: all 0.5s ease;
    width: 100%;
    height: auto;
}

.poem_icon_color {
    position: absolute;
    top: 0;
    right: 0;
}

.poem_icon_active {
    color: black;
    opacity: 1;
    transition: all 0.5s ease;
}

.poem_icon_inactive {
    opacity: 0;
}

.poem_icon_container {
    position: relative;
}