.scroll_container {
    position: absolute;
    width: 85%;
    height: calc(100% - 128px);
    overflow: auto;
    direction: rtl;
    top: 64px;
    left: 64px;
}

.poem_container {
    direction: ltr;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 16px;
}

.user_poem {
    position: absolute;
    top: 48px;
    left: 64px;
    margin-left: 0;
}

.clean_input {
    background-color: transparent;
    border: none;
    padding-right: 8px;
    font-family: inherit;
    font-size: inherit;
}

.clean_input:focus {
    outline: none;
}

.poem_line {
    font-size: 24px;
    color: black;
    text-align: left;
    opacity: 1;
    transition: all 0.5s ease;
    width: fit-content;
    height: fit-content;
}

.poem_title {
    font-size: 32px;
    font-weight: 100;
    font-style: italic;
}

.new_stanza {
    margin-top: 16px;
}

.link {
    cursor: pointer;
    text-decoration: underline solid transparent;
    transition: all 0.5s ease;
}

.link:hover {
    text-decoration: underline solid black;
}

.first_line {
    margin-top: 32px;
}

.placeholder_line {
    color: gray;
}

.poem_icons {
    z-index: 2;
    position: absolute;
    top: 16px;
    right: 24px;
    width: 60px;
    height: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.poem_icon {
    opacity: 0;
    transition: all 0.5s ease;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.poem_icon_color {
    position: absolute;
    top: 0;
    right: 0;
}

.poem_icon_active {
    color: black;
    opacity: 1;
    transition: all 0.5s ease;
}

.poem_icon_inactive {
    opacity: 0;
}

.poem_icon_container {
    position: relative;
}

.fade_in {
    opacity: 0;
}

.last_line {
    display: flex;
    gap: 4px;
}

.last_in_stanza {
    margin-bottom: 16px;
}

.blinking_cursor {
    width: 2px;
    height: 24px;
    background-color: gray;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.actions {
    display: flex;
    gap: 8px;
}

.action_button {
    height: 75px;
    width: auto;
    transition: transform 0.5s ease;
}

.action_button:hover {
    cursor: pointer;
    transform: rotate(360deg);
}