@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


.App {
  text-align: center;
  background-image: url('./images/paper-background.jpeg');
  background-repeat: no-repeat;
  background-size: auto;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto Slab";
  overflow: hidden;
}

.page {
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.active {
  opacity: 1;
}